addo-ws/src/main/resources/original/GenerateDocumentResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.vismaaddo.dk/services/signingservice/messages/generatedocumentresponse/2014/09" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.vismaaddo.dk/services/signingservice/messages/generatedocumentresponse/2014/09">
	<xs:import schemaLocation="RecipientDocument.xsd" namespace="http://schemas.vismaaddo.dk/services/signingservice/messages/generatedocumentresponse/recipientdocument/2014/09"/>
	<xs:import schemaLocation="VismaAddoContracts.xsd" namespace="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v1_0.Messages"/>
	<xs:complexType name="GenerateDocumentResponse">
		<xs:sequence>
			<xs:element minOccurs="0" name="GeneratedDocuments" nillable="true" type="q1:ArrayOfGenerateDocumentResponse.RecipientDocument" xmlns:q1="http://schemas.vismaaddo.dk/services/signingservice/messages/generatedocumentresponse/recipientdocument/2014/09"/>
			<xs:element minOccurs="0" name="ValidationData" nillable="true" type="q2:ValidationData" xmlns:q2="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v1_0.Messages"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GenerateDocumentResponse" nillable="true" type="tns:GenerateDocumentResponse"/>
</xs:schema>