addo-ws/src/main/resources/original/SigningService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.vismaaddo.dk/services/signingservice/2014/09" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.vismaaddo.dk/services/signingservice/2014/09">
	<xs:import schemaLocation="Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
	<xs:import schemaLocation="InitiateSigningRequest.xsd" namespace="http://schemas.vismaaddo.dk/services/signingservice/messages/initiatesigningrequest/2014/09"/>
	<xs:import schemaLocation="VismaAddoContracts.xsd" namespace="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v1_0.Messages"/>
	<xs:import schemaLocation="InitiateSigningResponse.xsd" namespace="http://schemas.vismaaddo.dk/services/signingservice/messages/initiatesigningresponse/2014/09"/>
	<xs:import schemaLocation="GenerateDocumentRequest.xsd" namespace="http://schemas.vismaaddo.dk/services/signingservice/messages/generatedocumentrequest/2014/09"/>
	<xs:import schemaLocation="GenerateDocumentResponse.xsd" namespace="http://schemas.vismaaddo.dk/services/signingservice/messages/generatedocumentresponse/2014/09"/>
	<xs:element name="InitiateSigning">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" type="q1:guid" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/"/>
				<xs:element minOccurs="0" name="request" nillable="true" type="q2:InitiateSigningRequest" xmlns:q2="http://schemas.vismaaddo.dk/services/signingservice/messages/initiatesigningrequest/2014/09"/>
				<xs:element minOccurs="0" name="templateOverride" nillable="true" type="q3:TemplateOverride" xmlns:q3="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v1_0.Messages"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InitiateSigningResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="InitiateSigningResult" nillable="true" type="q4:InitiateSigningResponse" xmlns:q4="http://schemas.vismaaddo.dk/services/signingservice/messages/initiatesigningresponse/2014/09"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GenerateDocument">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" type="q5:guid" xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/"/>
				<xs:element minOccurs="0" name="request" nillable="true" type="q6:GenerateDocumentRequest" xmlns:q6="http://schemas.vismaaddo.dk/services/signingservice/messages/generatedocumentrequest/2014/09"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GenerateDocumentResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GenerateDocumentResult" nillable="true" type="q7:GenerateDocumentResponse" xmlns:q7="http://schemas.vismaaddo.dk/services/signingservice/messages/generatedocumentresponse/2014/09"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TryLogin">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TryLoginResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="TryLoginResult" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Login">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
				<xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LoginResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="LoginResult" type="q8:guid" xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetSigningTemplates">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" type="q9:guid" xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetSigningTemplatesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetSigningTemplatesResult" nillable="true" type="q10:GetSigningTemplatesResponse" xmlns:q10="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v1_0.Messages"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetSigning">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" type="q11:guid" xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/"/>
				<xs:element minOccurs="0" name="signingToken" nillable="true" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetSigningResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetSigningResult" nillable="true" type="q12:GetSigningResponse" xmlns:q12="http://schemas.vismaaddo.dk/services/signingservice/messages/generatedocumentrequest/2014/09"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetSigningStatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" type="q13:guid" xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/"/>
				<xs:element minOccurs="0" name="signingToken" nillable="true" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetSigningStatusResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetSigningStatusResult" nillable="true" type="q14:GetSigningStatus" xmlns:q14="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v1_0.Messages"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>