addo-ws/src/main/resources/original/tempuri.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/">
	<xs:import schemaLocation="RestInitiateSigningRequest.xsd" namespace="http://schemas.vismaaddo.dk/services/signingservice/messages/restinitiatesigningrequest/2014/09"/>
	<xs:import schemaLocation="VismaAddoContracts.xsd" namespace="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v1_0.Messages"/>
	<xs:import schemaLocation="InitiateSigningResponse.xsd" namespace="http://schemas.vismaaddo.dk/services/signingservice/messages/initiatesigningresponse/2014/09"/>
	<xs:import schemaLocation="Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
	<xs:element name="RestInitiateSigning">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q1:RestInitiateSigningRequest" xmlns:q1="http://schemas.vismaaddo.dk/services/signingservice/messages/restinitiatesigningrequest/2014/09"/>
				<xs:element minOccurs="0" name="templateOverride" nillable="true" type="q2:TemplateOverride" xmlns:q2="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v1_0.Messages"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RestInitiateSigningResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="RestInitiateSigningResult" nillable="true" type="q3:InitiateSigningResponse" xmlns:q3="http://schemas.vismaaddo.dk/services/signingservice/messages/initiatesigningresponse/2014/09"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetSigningTemplates">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" type="q4:guid" xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetSigningTemplatesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetSigningTemplatesResult" nillable="true" type="q5:GetSigningTemplatesResponse" xmlns:q5="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v1_0.Messages"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>