addo-ws/src/main/resources/SigningService.svc.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SigningService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:i0="http://schemas.vismaaddo.dk/services/signingservice/2014/09" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsp:Policy wsu:Id="SigningService_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false"/>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                    </wsp:Policy>
                </sp:TransportBinding>
                <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:BootstrapPolicy>
                                    <wsp:Policy>
                                        <sp:SignedParts>
                                            <sp:Body/>
                                            <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                                            <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                                            <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                                            <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                                            <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                                            <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                                            <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                                        </sp:SignedParts>
                                        <sp:EncryptedParts>
                                            <sp:Body/>
                                        </sp:EncryptedParts>
                                        <sp:TransportBinding>
                                            <wsp:Policy>
                                                <sp:TransportToken>
                                                    <wsp:Policy>
                                                        <sp:HttpsToken RequireClientCertificate="false"/>
                                                    </wsp:Policy>
                                                </sp:TransportToken>
                                                <sp:AlgorithmSuite>
                                                    <wsp:Policy>
                                                        <sp:Basic256/>
                                                    </wsp:Policy>
                                                </sp:AlgorithmSuite>
                                                <sp:Layout>
                                                    <wsp:Policy>
                                                        <sp:Strict/>
                                                    </wsp:Policy>
                                                </sp:Layout>
                                                <sp:IncludeTimestamp/>
                                            </wsp:Policy>
                                        </sp:TransportBinding>
                                        <sp:SignedSupportingTokens>
                                            <wsp:Policy>
                                                <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                                                    <wsp:Policy>
                                                        <sp:WssUsernameToken10/>
                                                    </wsp:Policy>
                                                </sp:UsernameToken>
                                            </wsp:Policy>
                                        </sp:SignedSupportingTokens>
                                        <sp:Wss11>
                                            <wsp:Policy/>
                                        </sp:Wss11>
                                        <sp:Trust10>
                                            <wsp:Policy>
                                                <sp:MustSupportIssuedTokens/>
                                                <sp:RequireClientEntropy/>
                                                <sp:RequireServerEntropy/>
                                            </wsp:Policy>
                                        </sp:Trust10>
                                    </wsp:Policy>
                                </sp:BootstrapPolicy>
                            </wsp:Policy>
                        </sp:SecureConversationToken>
                    </wsp:Policy>
                </sp:EndorsingSupportingTokens>
                <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy/>
                </sp:Wss11>
                <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:MustSupportIssuedTokens/>
                        <sp:RequireClientEntropy/>
                        <sp:RequireServerEntropy/>
                    </wsp:Policy>
                </sp:Trust10>
                <wsaw:UsingAddressing/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="SigningServiceSecure_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false"/>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                    </wsp:Policy>
                </sp:TransportBinding>
                <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:BootstrapPolicy>
                                    <wsp:Policy>
                                        <sp:SignedParts>
                                            <sp:Body/>
                                            <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                                            <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                                            <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                                            <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                                            <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                                            <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                                            <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                                        </sp:SignedParts>
                                        <sp:EncryptedParts>
                                            <sp:Body/>
                                        </sp:EncryptedParts>
                                        <sp:TransportBinding>
                                            <wsp:Policy>
                                                <sp:TransportToken>
                                                    <wsp:Policy>
                                                        <sp:HttpsToken RequireClientCertificate="false"/>
                                                    </wsp:Policy>
                                                </sp:TransportToken>
                                                <sp:AlgorithmSuite>
                                                    <wsp:Policy>
                                                        <sp:Basic256/>
                                                    </wsp:Policy>
                                                </sp:AlgorithmSuite>
                                                <sp:Layout>
                                                    <wsp:Policy>
                                                        <sp:Strict/>
                                                    </wsp:Policy>
                                                </sp:Layout>
                                                <sp:IncludeTimestamp/>
                                            </wsp:Policy>
                                        </sp:TransportBinding>
                                        <sp:EndorsingSupportingTokens>
                                            <wsp:Policy>
                                                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                                                    <wsp:Policy>
                                                        <sp:RequireThumbprintReference/>
                                                        <sp:WssX509V3Token10/>
                                                    </wsp:Policy>
                                                </sp:X509Token>
                                                <sp:SignedParts>
                                                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                </sp:SignedParts>
                                            </wsp:Policy>
                                        </sp:EndorsingSupportingTokens>
                                        <sp:Wss11>
                                            <wsp:Policy>
                                                <sp:MustSupportRefThumbprint/>
                                            </wsp:Policy>
                                        </sp:Wss11>
                                        <sp:Trust10>
                                            <wsp:Policy>
                                                <sp:MustSupportIssuedTokens/>
                                                <sp:RequireClientEntropy/>
                                                <sp:RequireServerEntropy/>
                                            </wsp:Policy>
                                        </sp:Trust10>
                                    </wsp:Policy>
                                </sp:BootstrapPolicy>
                            </wsp:Policy>
                        </sp:SecureConversationToken>
                    </wsp:Policy>
                </sp:EndorsingSupportingTokens>
                <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy/>
                </sp:Wss11>
                <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:MustSupportIssuedTokens/>
                        <sp:RequireClientEntropy/>
                        <sp:RequireServerEntropy/>
                    </wsp:Policy>
                </sp:Trust10>
                <wsaw:UsingAddressing/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:import namespace="http://schemas.vismaaddo.dk/services/signingservice/2014/09" location="http://demo.vismaaddo.net//WebService/v1.0/SigningService.svc?wsdl=wsdl0"/>
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import schemaLocation="http://demo.vismaaddo.net/WebService/v1.0/SigningService.svc?xsd=xsd9" namespace="http://tempuri.org/"/>
            <xsd:import schemaLocation="http://demo.vismaaddo.net/WebService/v1.0/SigningService.svc?xsd=xsd0" namespace="http://schemas.vismaaddo.dk/services/signingservice/2014/09"/>
            <xsd:import schemaLocation="http://demo.vismaaddo.net/WebService/v1.0/SigningService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
            <xsd:import schemaLocation="http://demo.vismaaddo.net/WebService/v1.0/SigningService.svc?xsd=xsd2" namespace="http://schemas.vismaaddo.dk/services/signingservice/messages/initiatesigningrequest/2014/09"/>
            <xsd:import schemaLocation="http://demo.vismaaddo.net/WebService/v1.0/SigningService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v1_0.Messages"/>
            <xsd:import schemaLocation="http://demo.vismaaddo.net/WebService/v1.0/SigningService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System"/>
            <xsd:import schemaLocation="http://demo.vismaaddo.net/WebService/v1.0/SigningService.svc?xsd=xsd5" namespace="http://schemas.vismaaddo.dk/services/signingservice/messages/initiatesigningresponse/2014/09"/>
            <xsd:import schemaLocation="http://demo.vismaaddo.net/WebService/v1.0/SigningService.svc?xsd=xsd6" namespace="http://schemas.vismaaddo.dk/services/signingservice/messages/generatedocumentrequest/2014/09"/>
            <xsd:import schemaLocation="http://demo.vismaaddo.net/WebService/v1.0/SigningService.svc?xsd=xsd7" namespace="http://schemas.vismaaddo.dk/services/signingservice/messages/generatedocumentresponse/2014/09"/>
            <xsd:import schemaLocation="http://demo.vismaaddo.net/WebService/v1.0/SigningService.svc?xsd=xsd8" namespace="http://schemas.vismaaddo.dk/services/signingservice/messages/generatedocumentresponse/recipientdocument/2014/09"/>
            <xsd:import schemaLocation="http://demo.vismaaddo.net/WebService/v1.0/SigningService.svc?xsd=xsd10" namespace="http://schemas.vismaaddo.dk/services/signingservice/messages/restinitiatesigningrequest/2014/09"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RestSigningService_RestInitiateSigning_InputMessage">
        <wsdl:part name="parameters" element="tns:RestInitiateSigning"/>
    </wsdl:message>
    <wsdl:message name="RestSigningService_RestInitiateSigning_OutputMessage">
        <wsdl:part name="parameters" element="tns:RestInitiateSigningResponse"/>
    </wsdl:message>
    <wsdl:message name="RestSigningService_GetSigningTemplates_InputMessage">
        <wsdl:part name="parameters" element="tns:GetSigningTemplates"/>
    </wsdl:message>
    <wsdl:message name="RestSigningService_GetSigningTemplates_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetSigningTemplatesResponse"/>
    </wsdl:message>
    <wsdl:portType name="RestSigningService">
        <wsdl:operation name="RestInitiateSigning">
            <wsdl:input wsaw:Action="http://tempuri.org/RestSigningService/RestInitiateSigning" message="tns:RestSigningService_RestInitiateSigning_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/RestSigningService/RestInitiateSigningResponse" message="tns:RestSigningService_RestInitiateSigning_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetSigningTemplates">
            <wsdl:input wsaw:Action="http://tempuri.org/RestSigningService/GetSigningTemplates" message="tns:RestSigningService_GetSigningTemplates_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/RestSigningService/GetSigningTemplatesResponse" message="tns:RestSigningService_GetSigningTemplates_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SigningService" type="i0:SigningService">
        <wsp:PolicyReference URI="#SigningService_policy"/>
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="InitiateSigning">
            <soap12:operation soapAction="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/InitiateSigning" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GenerateDocument">
            <soap12:operation soapAction="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/GenerateDocument" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TryLogin">
            <soap12:operation soapAction="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/TryLogin" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Login">
            <soap12:operation soapAction="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/Login" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSigningTemplates">
            <soap12:operation soapAction="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/GetSigningTemplates" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSigning">
            <soap12:operation soapAction="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/GetSigning" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSigningStatus">
            <soap12:operation soapAction="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/GetSigningStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SigningServiceSecure" type="i0:SigningService">
        <wsp:PolicyReference URI="#SigningServiceSecure_policy"/>
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="InitiateSigning">
            <soap12:operation soapAction="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/InitiateSigning" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GenerateDocument">
            <soap12:operation soapAction="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/GenerateDocument" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TryLogin">
            <soap12:operation soapAction="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/TryLogin" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Login">
            <soap12:operation soapAction="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/Login" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSigningTemplates">
            <soap12:operation soapAction="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/GetSigningTemplates" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSigning">
            <soap12:operation soapAction="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/GetSigning" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSigningStatus">
            <soap12:operation soapAction="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/GetSigningStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SigningService">
        <wsdl:port name="SigningService" binding="tns:SigningService">
            <soap12:address location="https://visma-jasinged.vsw.datakraftverk.no/WebService/v1.0/SigningService.svc"/>
            <wsa10:EndpointReference>
                <wsa10:Address>https://visma-jasinged.vsw.datakraftverk.no/WebService/v1.0/SigningService.svc</wsa10:Address>
            </wsa10:EndpointReference>
        </wsdl:port>
        <wsdl:port name="SigningServiceSecure" binding="tns:SigningServiceSecure">
            <soap12:address location="https://visma-jasinged.vsw.datakraftverk.no/WebService/v1.0/SigningService.svc/secure"/>
            <wsa10:EndpointReference>
                <wsa10:Address>https://visma-jasinged.vsw.datakraftverk.no/WebService/v1.0/SigningService.svc/secure</wsa10:Address>
            </wsa10:EndpointReference>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>