addo-ws/src/main/resources/wsdl2gen/SigningServiceTypes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://schemas.vismaaddo.dk/services/signingservice/2014/09" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.vismaaddo.dk/services/signingservice/2014/09" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://schemas.vismaaddo.dk/services/signingservice/2014/09/Imports">
			<xsd:import schemaLocation="SigningService.xsd" namespace="http://schemas.vismaaddo.dk/services/signingservice/2014/09"/>
			<xsd:import schemaLocation="Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
			<xsd:import schemaLocation="InitiateSigningRequest.xsd" namespace="http://schemas.vismaaddo.dk/services/signingservice/messages/initiatesigningrequest/2014/09"/>
			<xsd:import schemaLocation="VismaAddoContracts.xsd" namespace="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v1_0.Messages"/>
			<xsd:import schemaLocation="System.xsd" namespace="http://schemas.datacontract.org/2004/07/System"/>
			<xsd:import schemaLocation="InitiateSigningResponse.xsd" namespace="http://schemas.vismaaddo.dk/services/signingservice/messages/initiatesigningresponse/2014/09"/>
			<xsd:import schemaLocation="GenerateDocumentRequest.xsd" namespace="http://schemas.vismaaddo.dk/services/signingservice/messages/generatedocumentrequest/2014/09"/>
			<xsd:import schemaLocation="GenerateDocumentResponse.xsd" namespace="http://schemas.vismaaddo.dk/services/signingservice/messages/generatedocumentresponse/2014/09"/>
			<xsd:import schemaLocation="RecipientDocument.xsd" namespace="http://schemas.vismaaddo.dk/services/signingservice/messages/generatedocumentresponse/recipientdocument/2014/09"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SigningService_InitiateSigning_InputMessage">
		<wsdl:part name="parameters" element="tns:InitiateSigning"/>
	</wsdl:message>
	<wsdl:message name="SigningService_InitiateSigning_OutputMessage">
		<wsdl:part name="parameters" element="tns:InitiateSigningResponse"/>
	</wsdl:message>
	<wsdl:message name="SigningService_GenerateDocument_InputMessage">
		<wsdl:part name="parameters" element="tns:GenerateDocument"/>
	</wsdl:message>
	<wsdl:message name="SigningService_GenerateDocument_OutputMessage">
		<wsdl:part name="parameters" element="tns:GenerateDocumentResponse"/>
	</wsdl:message>
	<wsdl:message name="SigningService_TryLogin_InputMessage">
		<wsdl:part name="parameters" element="tns:TryLogin"/>
	</wsdl:message>
	<wsdl:message name="SigningService_TryLogin_OutputMessage">
		<wsdl:part name="parameters" element="tns:TryLoginResponse"/>
	</wsdl:message>
	<wsdl:message name="SigningService_Login_InputMessage">
		<wsdl:part name="parameters" element="tns:Login"/>
	</wsdl:message>
	<wsdl:message name="SigningService_Login_OutputMessage">
		<wsdl:part name="parameters" element="tns:LoginResponse"/>
	</wsdl:message>
	<wsdl:message name="SigningService_GetSigningTemplates_InputMessage">
		<wsdl:part name="parameters" element="tns:GetSigningTemplates"/>
	</wsdl:message>
	<wsdl:message name="SigningService_GetSigningTemplates_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetSigningTemplatesResponse"/>
	</wsdl:message>
	<wsdl:message name="SigningService_GetSigning_InputMessage">
		<wsdl:part name="parameters" element="tns:GetSigning"/>
	</wsdl:message>
	<wsdl:message name="SigningService_GetSigning_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetSigningResponse"/>
	</wsdl:message>
	<wsdl:message name="SigningService_GetSigningStatus_InputMessage">
		<wsdl:part name="parameters" element="tns:GetSigningStatus"/>
	</wsdl:message>
	<wsdl:message name="SigningService_GetSigningStatus_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetSigningStatusResponse"/>
	</wsdl:message>
	<wsdl:portType name="SigningService">
		<wsdl:operation name="InitiateSigning">
			<wsdl:input wsaw:Action="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/InitiateSigning" message="tns:SigningService_InitiateSigning_InputMessage"/>
			<wsdl:output wsaw:Action="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/InitiateSigningResponse" message="tns:SigningService_InitiateSigning_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GenerateDocument">
			<wsdl:input wsaw:Action="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/GenerateDocument" message="tns:SigningService_GenerateDocument_InputMessage"/>
			<wsdl:output wsaw:Action="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/GenerateDocumentResponse" message="tns:SigningService_GenerateDocument_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="TryLogin">
			<wsdl:input wsaw:Action="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/TryLogin" message="tns:SigningService_TryLogin_InputMessage"/>
			<wsdl:output wsaw:Action="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/TryLoginResponse" message="tns:SigningService_TryLogin_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="Login">
			<wsdl:input wsaw:Action="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/Login" message="tns:SigningService_Login_InputMessage"/>
			<wsdl:output wsaw:Action="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/LoginResponse" message="tns:SigningService_Login_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetSigningTemplates">
			<wsdl:input wsaw:Action="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/GetSigningTemplates" message="tns:SigningService_GetSigningTemplates_InputMessage"/>
			<wsdl:output wsaw:Action="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/GetSigningTemplatesResponse" message="tns:SigningService_GetSigningTemplates_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetSigning">
			<wsdl:input wsaw:Action="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/GetSigning" message="tns:SigningService_GetSigning_InputMessage"/>
			<wsdl:output wsaw:Action="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/GetSigningResponse" message="tns:SigningService_GetSigning_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetSigningStatus">
			<wsdl:input wsaw:Action="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/GetSigningStatus" message="tns:SigningService_GetSigningStatus_InputMessage"/>
			<wsdl:output wsaw:Action="http://schemas.vismaaddo.dk/services/signingservice/2014/09/SigningService/GetSigningStatusResponse" message="tns:SigningService_GetSigningStatus_OutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>